# default parameters
parameters:


# settings for sessions
session:
	expiration: 14 days
	savePath: '%tempDir%/sessions'


# application settings
application:

	# application mapping
	mapping:
		*: Module\*\*Presenter


# enabling system container for Tracy bar
di:
	debugger: yes


services:

	# using sessions outside the presenter
	- Drago\Http\ExtraSession(@Nette\Http\Session, 'steps')

	# components
	- Module\Web\Components\Step01
	- Module\Web\Components\Step02
	- Module\Web\Components\Message
	- Module\Web\Components\Toast

