<a href="#" id="from-control" class="btn btn-success">From control</a>
<a href="#" id="in-control" class="btn btn-danger">In control</a>

<p class="display-4 mt-5" style="font-size: 2em;">Call handler using macro</p>
<a href="{link messageFromControl!}" class="btn btn-success ajax">From control</a>
<a href="{link messageInControl!}" class="btn btn-danger ajax">In control</a>
