<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="{$basePath}/node_modules/bootstrap/dist/css/bootstrap.css">
	{block css}{/block}

	<style>
		span.error {
			display: block;
			color: red;
			font-weight: 500;
			margin-top: 5px;
		}
	</style>

	<title>{include subtitle|stripHtml|firstUpper} &bull; Examples</title>
</head>

<body>
<div class="container mt-5" style="width: 500px">

    {* content block *}
    {include content|indent:1}
</div>

	<script src="{$basePath}/node_modules/jquery/dist/jquery.js"></script>
	<script src="{$basePath}/node_modules/bootstrap-3-typeahead/bootstrap3-typeahead.js"></script>
	<script src="{$basePath}/vendor/nette/forms/src/assets/netteForms.js"></script>
	<script src="{$basePath}/node_modules/live-form-validation/live-form-validation.js"></script>
	<script src="{$basePath}/node_modules/nette.ajax.js/nette.ajax.js"></script>
	<script src="{$basePath}/assets/js/nette.spinner.js"></script>
	{block js}{/block}
	<script>
		$(function () {

			// live form validation.
			LiveForm.setOptions({
				messageErrorClass: 'error',
				messageErrorPrefix: '',
				wait: 500
			});

			// Nette Ajax.
			$.nette.init();
		});
	</script>

</body>
</html>
